.login {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.login_card {
    background: var(--color-oscuro);
    border: 1px solid #1f1f1f;
    border-radius: var(--radio-md);
    box-shadow: var(--sombra-suave);
    width: min(92vw, 380px);
    padding: 2rem;
}

.login_title {
    text-align: center;
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--color-principal);
}

.login_form {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
}

.login_field {
    display: grid;
    gap: .35rem;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
}

.login_label {
    color: var(--color-grisclaro);
}

.login_input {
    padding: .9rem;
    border-radius: var(--radio-md);
    border: 1px solid var(--color-grisoscuro);
    background: #0f0f0f;
    color: var(--color-blanco);
}

.login_input:focus {
    outline: 2px solid var(--color-principal);
}

.login_error {
    min-height: 1em;
    font-size: .9rem;
    color: var(--color-rojo);
}

.login_register {
    text-align: center;
}

.login_p-cuenta {
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
}

.login_register button {
    border: 1px solid var(--color-principal);
    background: transparent;
    color: var(--color-principal);
    border-radius: var(--radio-md);
    cursor: pointer;
    transition: all var(--transicion);
    width: 100%;
    font-size: .8rem;
    font-weight: 500;
    height: 2.5rem;
}

.login_register button:hover {
    background: var(--color-principal);
    color: var(--color-blanco);
}